body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
}

.sidebar {
  background: #ffffff;
  margin: 15px;
  width: 340px;
}

.preview {
  background: #f9fafd;
}

.col-1 {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  padding: 1.6rem;
  color: #464b5b;
  font-size: 18px;
}
.col-2 {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  color: #464b5b;
  font-size: 18px;
  padding: 1.6rem;
}
.col-3 {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  color: #464b5b;
  font-size: 18px;
  padding: 1.6rem;
}
.col-4 {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #464b5b;
  font-size: 18px;
  padding: 1.6rem;
}
.col-5 {
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: #464b5b;
  font-size: 18px;
}

.layout-placeholder.dynamic {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  color: #464b5b;
  font-size: 18px;
  padding: 1.6rem;
}
.accordion {
  background: #e6ebff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.accordion-title {
  color: #0033ff;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

input {
  box-sizing: border-box;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #d6dae4;
  border-radius: 3px;
  padding: 6px 12px;
  height: 38px;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
}

input[type="radio"] {
  margin: 0;
  width: 15px;
  height: 15px;
}

.radio-select {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

/* my settings*/
/* 
body.dark .preview {
  background-color: #121212;
  color: #e6ebff;
} */

body.dark .card-element {
  background-color: #121212;
  color: #e6ebff;
}
body.dark .like-btn svg {
  color: #fff;
}
body.dark.like-btns:hover {
  background-color: #fff;
}
/********Cards ******/
.card-element {
  display: grid;
  grid-template-rows: 6.4rem 36rem 3.2rem;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border: 1px solid #d6dae4;
  margin-bottom: 2.4rem;
}

.heading {
  display: flex;
  justify-content: space-between;
}
.heading-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_image img {
  border-radius: 50%;
}
.name {
  font-size: 1.2rem;
  font-weight: 700;
}
.date {
  font-size: 0.7rem;
}
.heading img {
  width: 3.2em;
  height: 3.2rem;
  display: flex;
  align-items: center;
  padding: 1rem;
}
.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-bottom: 1px solid #d6dae4;
  padding: 1.6rem;
}
.content img {
  max-width: 75%;

  max-height: 75%;
}

.content p {
  font-size: 1rem;
  line-height: 1;
  padding: 0.6rem 1.2rem;
}

.footer {
  display: flex;
  align-items: center;
}
.like-btn {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}
.like-btn.full {
  fill: red;
}
.like-btns {
  border: none;
  background-color: #fff;
}
.like-btns:hover {
  background-color: #121212;
  color: #fff;
}

#load-more {
  display: block;
  margin: 0 auto 10px auto;
  bottom: 1rem;
  align-self: flex-end;
  background-color: #228be6;
  padding: 1.6rem;
  font-size: 1.8rem;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 11px;
}
#load-more:hover {
  background-color: #1971c2;
}

@media only screen and (max-width: 768px) {
  .layout-placeholder.dynamic {
    grid-template-columns: repeat(1, 1fr);
    font-size: 18px;
    padding: 1.6rem;
  }
}
@media only screen and (min-width: 992px) {
  .layout-placeholder.dynamic {
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
    padding: 1.6rem;
  }
}
