body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background: #ffffff;
  margin: 15px;
  width: 340px;
}

.preview {
  background: #f9fafd;
}

.layout-placeholder {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2.4rem;
  color: #464b5b;
  font-size: 18px;
  padding: 2.4rem;
}

.accordion {
  background: #e6ebff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 15px;
}

.accordion-title {
  color: #0033ff;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

input {
  box-sizing: border-box;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #d6dae4;
  border-radius: 3px;
  padding: 6px 12px;
  height: 38px;
  width: 100%;
  margin-bottom: 20px;
}

label {
  font-size: 14px;
}

input[type="radio"] {
  margin: 0;
  width: 15px;
  height: 15px;
}

.radio-select {
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 20px;
}

/* my settings*/

body.dark .preview {
  background-color: #121212;
  color: #e6ebff;
}

body.dark .card-element {
  background-color: #121212;
  color: #e6ebff;
}
body.dark .like-btn svg {
  color: #fff;
}
/********Cards ******/
.card-element {
  width: 28rem;
  background-color: #ffffff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border: 1px solid #d6dae4;
  margin-bottom: 2.4rem;
}

.col-1 {
  width: 50rem;
  background-color: #ffffff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border: 1px solid #d6dae4;
}

.hide {
  display: none;
}
/* 
.card-element .card-2 {
  display: none;
}

.col-2 {
  max-width: 50%;
  background-color: #ffffff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border: 1px solid #d6dae4;
}
.col-3 {
  max-width: 10%;
  background-color: #ffffff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border: 1px solid #d6dae4;
}
.col-4 {
  max-width: 50%;
  background-color: #ffffff;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border: 1px solid #d6dae4;
} */

.heading {
  display: flex;
  justify-content: space-between;
}
.heading-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_image img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 1.2rem;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
}
.date {
  font-size: 0.7rem;
}
.logo {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  border-bottom: 1px solid #d6dae4;
}
.content img {
  max-width: 90%;
}

.content p {
  font-size: 1rem;
  line-height: 1;
  padding: 0.6rem 1.2rem;
}

.footer {
  display: flex;
  align-items: center;
}
.like-btn {
  width: 25px;
  height: 25px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.likes {
}

#load-more {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: yellow;
  padding: 50px;
  font-size: 20px;
}
